<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <header>
    <%- include('./partials/header'); %>
  </header>
  <main>
    <div class="mainTitle">
      <h1>Baza artykułów naukowych</h1>
      <p>Darmowa wyszukiwarka artykułów naukowych</p>
    </div>


    <%- include('./partials/scripts'); %>
  </main>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>

</html>
