<section id="title">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Baza artykułów</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/">Strona główna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/search">Wyszukaj artykuł</a>
          </li>
          <% if (typeof locals.admin != "undefined"){ %>
          <li class="nav-item">
            <a class="nav-link" href="add">Dodaj artykuł</a>
          </li>
          <% } %>
          <li class="nav-item">
            <% if (!user){ %>
              <a class="nav-link" href="login">Zaloguj się</a>
              </li>
            <% }else{ %>
              <a class="nav-link" href="my-account">Moje konto</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="logout">Wyloguj się</a>
              </li>
            <% } %>
        </ul>
      </div>
  </nav>
</section>
